
.vs/validate_raster_mask/v15/ipch/AutoPCH/cf284482dc2c0dc1/RASTER_MASK.ipch

.vs/validate_raster_mask/v15/.suo

.vs/validate_raster_mask/v15/Browse.VC.db

.vs/validate_raster_mask/v15/Browse.VC.opendb

.vs/validate_raster_mask/v15/ipch/AutoPCH/456fe77d50597ea3/VALIDATE_RASTER_MASK.ipch

.vs/validate_raster_mask/v15/ipch/AutoPCH/471799a0977e6273/VALIDATE_RASTER_MASK.ipch

validate_raster_mask/validate_raster_mask.vcxproj.user

*.tlog

*.log

*.obj

*.pdb

*.exp

x64/Release/validate_raster_mask.lib

*.iobj

*.ipdb

*.exe

validate_raster_mask/x64/Debug/vc141.idb

x64/Debug/validate_raster_mask.ilk

x64/Debug/validate_raster_mask.lib
